SECRET_KEY=django-insecure-eve-healthcare-secret-key-change-in-prod-2026
DEBUG=True
ALLOWED_HOSTS=*

# Database Configuration (PostgreSQL)
# DB_NAME=eve_healthcare
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=localhost
# DB_PORT=5432

# Redis & Celery Configuration
REDIS_URL=redis://127.0.0.1:6379/1
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
USE_REDIS_CACHE=False
CELERY_TASK_ALWAYS_EAGER=True
